body {
  background-color: white;
}

.wall {
  background-color: black;
}

.floor {
  backround-color: white;
}

.player {
  background-color: #2196F3;
}

.health {
  background-color: #64DD17;
}

.weapon {
  background-color: #FFEA00;
}

.enemy {
  background-color: #B71C1C;
}
